# Terraform
*.tfstate
*.tfstate.*
*.tfplan
.terraform/
.terraform.lock.hcl

# Ansible
*.retry
inventory/*.ini

# Local Dev
bootstrap/*.log
.devcontainer/*.dev

# VS Code
.vscode/*.code-workspace
*.code-workspace

# General
__pycache__/
*.pyc
.env
